.add-empleado {
  .css-13cymwt-control {
    height: 100%;
  }
  .form-basic {
    .container-info-user,
    .container-info-empleo,
    .container-info-politica {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 25px;

      .title {
        grid-column: span 2;
        height: 40px;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .container-input.grid-2-columns {
      grid-column: span 2;
    }

    .container-footer {
      .title {
        grid-column: span 2;
        height: 40px;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container-input {
        margin: 10px 0 20px 0;
      }

      .input-observaciones {
        height: 100px;

        input {
          width: 100%;
        }
      }
    }

    .checkbox-basic {
      border: 1px solid #aaa;
      border-radius: 10px;
      height: 46px;
      position: relative;
      width: 100%;
      display: flex;
      cursor: pointer;

      max-width: initial;
    }

    .btn-submit-basic {
      grid-column: span 2;
    }
  }

  .container-input span.holder.has-content {
    text-transform: capitalize;
  }
}

@include max-width(1000px) {
  .add-empleado {
    .form-basic {
      .container-input span.holder {
        font-size: 15px;
      }
    }
  }
}

@include max-width(900px) {
  .add-empleado {
    .form-basic {
      .container-info-user,
      .container-info-empleo,
      .container-info-politica {
        grid-template-columns: 1fr;

        .title {
          grid-column: initial;
        }
      }
      .container-input.grid-2-columns {
        grid-column: initial;
      }
    }
  }
}

