@font-face {
  font-family: "Nunito";
  src: url("./Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./Nunito-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
